<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menu-head">
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<div th:fragment="menu" class="custom-menu">
    <ul class="list-group">
        <li class="list-group-item active">Menu 1</li>
        <li class="list-group-item">Menu 2</li>
        <li class="list-group-item">Menu 3</li>
        <li class="list-group-item">Menu 4</li>
        <li class="list-group-item final-list-group">Menu 5</li>
    </ul>
</div>
</body>
</html>