<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menu-head">
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<div th:fragment="menu" class="custom-menu">
    <ul class="list-group">
        <li id="menu1" class="list-group-item" onclick="activeMenu(1)">Status</li>
        <li id="menu2" class="list-group-item" onclick="activeMenu(2)">Menu 2</li>
        <li id="menu3" class="list-group-item" onclick="activeMenu(3)">Menu 3</li>
        <li id="menu4" class="list-group-item" onclick="activeMenu(4)">Menu 4</li>
        <li id="menu5" class="list-group-item final-list-group" onclick="activeMenu(5)">Menu 5</li>
    </ul>
</div>
</body>
</html>