<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>VDK</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/template.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/content.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/content.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
<body th:attr="onload='loadUsername(\'' + ${#authentication.name} + '\')'">
<header layout:fragment="custom-header">
    <div th:insert="fragment/header :: header">

    </div>
</header>
<section layout:fragment="custom-section">
    <div class="container-fluid custom-section">
        <div class="row">
            <div class="col-3" th:insert="fragment/menu :: menu"></div>
            <div class="col-9" id="content-template"></div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/resources/js/menu.js}"></script>
</body>
</html>
