<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VDK</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/login.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="text-center">
    <form th:action="@{/login}" method="POST" class="form-sign-in">
        <h3 class="mb-3" th:text="'Please sign in'"></h3>
        <label for="username" class="sr-only"></label>
        <input type="text"
               id="username"
               name="username" placeholder="Username" class="form-control"/>
        <label for="password" class="sr-only"></label>
        <input type="password"
               th:placeholder="Password"
               id="password" name="password" class="form-control"/>
        <div th:if="${param.error}">
            <p style="font-size: 1rem; color: #FF1C19; margin-bottom: 0">User Name or Password invalid</p>
        </div>
        <div class="register-link">
            <a th:href="@{/registration}" th:text="'Register here !! '"></a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
</div>
</body>
</html>