<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIEW</title>
</head>
<body>
<h1>STAFF INFORMATION</h1>
<form th:object="${staff}">
    <table>
        <tr>
            <td th:text="ID">:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td th:text="NAME">:</td>
            <td th:text="*{fullname}"></td>
        </tr>
        <tr>
            <td th:text="JOB">:</td>
            <td th:text="*{job}"></td>
        </tr>
        <tr>
            <td th:text="SALARYPERHOUR"></td>
            <td th:text="*{salaryPerHour}"></td>
        </tr>
        <tr>
            <td th:text="DEPARTMENT"></td>
            <td th:text="*{department}"></td>
        </tr>
    </table>
</form>
</body>
</html>